$header-font: league-gothic, sans-serif;
$body-font: lora, serif;

$background-color: #efefef;
$text-color: #222;

@import "compass";
@import "logos";

@include establish-baseline;

*, *:before, *:after {
	@include box-sizing(border-box);
}

html {
	background-color: $background-color;
	color: $text-color;
}

body {
	font: {
		family: $body-font;
	}
	padding: 0 1em;
}

#{headings()} {
	font: {
		family: $header-font;
		weight: 400;
	}
	text-transform: uppercase;
}

h1 {
	text-align: center;

	@include adjust-font-size-to(64px);

	+ p {
		font-style: italic;
		text-align: center;

		@include adjust-font-size-to(20px);
	}
}

.logos {
	text-align: center;
}
